body{
    background-color: darksalmon;
}

h1{
    background-color: cadetblue;
}

h3{
    background-color: burlywood;
}

h4{
  background-color: cornsilk;
}

p{
  background-color: darksalmon;
}

img{
    background-color: beige;
}